body {
    background-color: antiquewhite;
    font-family: sans-serif;
}

nav {
    z-index: 1;
    position: fixed;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: aliceblue;
    background-color: #2C3E50;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

nav div.nav1 {

    margin-left: 5%;

}

nav div.nav1 a {

    color: aliceblue;
}

nav div.nav2 {
    margin-right: 5%;

}

nav div.nav2 ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

nav div.nav2 ul li {
    margin-left: 5%;
    margin-right: 5%;

}

nav div.nav2 ul li a {
    color: aliceblue;
    padding: 10px;
}


nav div.nav2 ul li a:hover {

    color: #1ABC9C;
    transition: 1s;
    font-size: 35px;




}


main section.sec1 {
    padding: 10%;
    text-align: center;
    background-color: #1ABC9C;
    color: aliceblue;
}

main section.sec1 img {
    width: 240px
}

main section.sec1 h1 {

    font-size: 100px;
    line-height: 60px;


}

main section.sec1 i {

    font-size: 50px;
}

main section.sec1 ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    padding-bottom: 20px;

}

main section.sec1 ul li {
    margin: 10px;

}

main section.sec1 ul li::after {
    content: '-';
    margin-left: 20px;
}

main section.sec1 ul li:last-child::after {

    content: '';
}

main section.minorsec div.sec2head {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;

}

main section.sec2 {

    width: 100%;
    min-height: 600px;



}

main section.sec2 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

main section.sec2 div.card {

    cursor: pointer;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    margin: 100px;



}

main section.sec2 div.card img {
    width: 100%;
    height: 100%;
}

main section.sec2 div.card div.hoverimg {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1ABC9C;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: aliceblue;
    font-size: 35px;
    transition: 0.6s;
    opacity: 0;




}

main section.sec2 div.card:hover div.hoverimg {

    opacity: 0.9;

}

main section.sec3 {

    background-color: #1ABC9C;
    color: aliceblue;

}

main section.sec3 h3 {
    padding-top: 5%;
    font-size: 60px;
    text-align: center;
    line-height: 1px;
}

main section.sec3 div.pflex {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;


}

main section.sec3 div.pflex div {
    width: 40%;
    height: 200px;
    font-size: 30px;


}

main section.sec3 div.button {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


}

main section.sec3 button {
    cursor: pointer;
    background-color: #1ABC9C;
    border: aliceblue 2px solid;
    color: aliceblue;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 5%;
    border-radius: 30px;





}

main section.sec3 button:hover {

    background-color: aliceblue;
    color: black;
    transition: 0.5s;


}

main section.last h4 {
    line-height: 1px;
    font-size: 60px;
}

main section.last i {

    font-size: 50px;
    margin-bottom: 2%;
}

main section.last {
    text-align: center;
}

main section.last input {

    margin-top: 2%;
    width: 100%;
    height: 100px;
    border-style: none;
    background-color: antiquewhite;
    border-bottom: red solid 2px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    font-size: 40px;
    position: relative;




}

main section.last div {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: left;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

main section.last input::placeholder {
    font-size: 40px;
}

main section.last input:focus {
    outline: none;


}

main section.last input#message {
    height: 150px;
    overflow: auto;


}

main section.last button {

    padding: 1%;
    margin-top: 50px;
    border-radius: 20px;
    border-color: #1ABC9C;
    background-color: #1ABC9C;
    border: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color: aliceblue;
    width: 25%;
    margin-bottom: 10%;


}

main section.last input:focus::placeholder {

    font-size: 20px;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;

}

footer section.f1sec {

    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #2C3E50;
    color: aliceblue;


}

footer section.f1sec div.f1 span.spanhead {
    font-size: 40px;
}

footer section.f1sec div.f1 p {
    font-size: 20px;
    line-height: 10px;
    margin-top: 70px;
}

footer section.f1sec div.f2 span.spanhead {
    font-size: 40px;
}


footer section.f1sec div.f2 div.f2f2 {

    margin-top: 70px;
}

footer section.f1sec div.f2 a {

    border: 3px aliceblue solid;
    border-radius: 50px;
    color: aliceblue;
    font-size: 30px;
    margin-right: 20px;
    padding: 20px;




}

footer section.f1sec div.f2 a:hover {

    background-color: antiquewhite;
    color: black;
    transition: 0.5s;

}

footer section.f1sec div.f3 span.spanhead {
    font-size: 40px;
}

footer section.f1sec div.f3 p {
    font-size: 20px;
    margin-top: 70px;
    line-height: 10px;
}

footer section.f1sec div.f3 span.biggiespan {

    cursor: pointer;
    color: #1ABC9C;
    text-decoration: underline;
}

footer section.f2sec {
    display: flex;
    font-size: 20p;
    color: aliceblue;
    background-color: #1A252F;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;



}