header {
position: fixed;
width: 100%;
margin: 0;
 
}

nav {
    background-color: #2C3E50;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0;
}

nav div {    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;}

nav div a {
    color: aliceblue;
}
nav div div.header {
    
}

nav div div.header a.hnav {
    display: flex;
    text-align: left;
    padding: 10px;
    
}

nav div div.header2 {
display: flex;
justify-content: space-between;}

nav div div.header2 ul.headerul {
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
nav div div.header2 ul.headerul li {margin-left: 10px;
    margin-right: 10px;}


nav div div.header2 ul.headerul a {
    padding: 15px;


}

nav div div.header2 ul.headerul a:hover {
    color: darkred;
    border-radius: 50px;
    border: solid aliceblue 2px;
    background: aliceblue;
    transition-duration: 0.5s;



}


